*{
    margin: 0%;
    padding: 0;
}
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

.menu {
    display: flex;
justify-content: flex-end;
align-items: center;
background-color: #c4c4c47e;
height: 79px;
width: 100%;
}
.menuBtn {
    width: 224px;
    height: 65px;
    font-size: 64px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.listMenu {
    display: none;
}

.title {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #c4c4c47e;
    font-size: 64px;
}

footer {
    width: 100%;
    height: 150px;
    background-color:#C4C4C4;
}
